name: 'Build'
on:
  push:
    branches-ignore:
    - 'pages'

concurrency: 
  group: browserstack-test

jobs:
  build-and-test:
    name: 'Build & Test'
    runs-on: ubuntu-latest
    steps:
      - name: check out
        uses: actions/checkout@v2.3.5
        with:
          fetch-depth: 1

      - name: setup node
        uses: actions/setup-node@v2.4.1
        with:
          node-version: 16
          cache: 'npm'

      - run: make build

      - name: 'BrowserStack Env Setup'
        uses: 'browserstack/github-actions/setup-env@master'
        with:
          username:  ${{ secrets.BROWSERSTACK_USERNAME }}
          access-key: ${{ secrets.BROWSERSTACK_ACCESS_KEY }}
          build-name: BUILD_INFO
          project-name: REPO_NAME

      - name: 'BrowserStack Local Setup'
        uses: 'browserstack/github-actions/setup-local@master'
        with:
          local-testing: start
          local-identifier: random

      - run: make run-tests

      - name: 'Stop BrowserStack Local'
        uses: 'browserstack/github-actions/setup-local@master'
        with:
          local-testing: 'stop'

  validate-pages-worker:
    name: Validate Pages Worker
    runs-on: ubuntu-latest
    steps:
    - name: check out
      uses: actions/checkout@v2.3.5
      with:
        fetch-depth: 1

    - name: validate
      uses: cloudflare/wrangler-action@1.3.0
      with:
        apiToken: ${{ secrets.CF_API_TOKEN }}
        wranglerVersion: '1.13.0'
        workingDirectory: 'packages/pages-worker'
        publish: false
        preCommands: wrangler build
