name: 'Build'
on:
  push:
    branches:
    - 'main'
  pull_request:
  workflow_dispatch:

concurrency: 
  group: browserstack-test
jobs:
  build-and-test:
    name: 'Build & Test'
    runs-on: ubuntu-latest
    steps:
      - name: check out
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 1

      - name: setup node
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: 24
          cache: 'npm'

      # https://github.com/Automattic/node-canvas/wiki/Installation:-Arch-based-distributions
      - run: |
          sudo apt-get update
          sudo apt-get install build-essential libcairo2-dev libpango1.0-dev libjpeg-dev libgif-dev librsvg2-dev

      - run: npm ci
      - run: npm run build
      - run: npm run test

      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version: 'stable'
      - run: go install ./scripts/...

      - run: core-web-browserstack
        env:
          BROWSERSTACK_USERNAME:  ${{ secrets.BROWSERSTACK_USERNAME }}
          BROWSERSTACK_ACCESS_KEY:  ${{ secrets.BROWSERSTACK_ACCESS_KEY }}

  validate-pages-worker:
    name: Validate Pages Worker
    runs-on: ubuntu-latest
    steps:
    - name: check out
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        fetch-depth: 1

    - name: validate
      uses: cloudflare/wrangler-action@4c10c1822abba527d820b29e6333e7f5dac2cabd # v2.0.0
      with:
        apiToken: ${{ secrets.CF_API_TOKEN }}
        wranglerVersion: '1.13.0'
        workingDirectory: 'packages/pages-worker'
        command: build
