name: 'Build'
on:
  push:
    branches:
    - 'main'
  pull_request:
  workflow_dispatch:

concurrency: 
  group: browserstack-test
jobs:
  build-and-test:
    name: 'Build & Test'
    runs-on: ubuntu-latest
    steps:
      - name: check out
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 1

      - name: setup node
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: 24
          cache: 'npm'

      # https://github.com/Automattic/node-canvas/wiki/Installation:-Arch-based-distributions
      - run: |
          sudo apt-get update
          sudo apt-get install build-essential libcairo2-dev libpango1.0-dev libjpeg-dev libgif-dev librsvg2-dev

      - run: npm ci
      - run: npm run build
      - run: npm run test

      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version: 'stable'
      - run: go install ./scripts/...

      - run: core-web-browserstack
        env:
          BROWSERSTACK_USERNAME:  ${{ secrets.BROWSERSTACK_USERNAME }}
          BROWSERSTACK_ACCESS_KEY:  ${{ secrets.BROWSERSTACK_ACCESS_KEY }}

  validate-pages-worker:
    name: Validate Pages Worker
    runs-on: ubuntu-latest
    steps:
    - name: check out
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        fetch-depth: 1

    - name: validate
      uses: cloudflare/wrangler-action@4c10c1822abba527d820b29e6333e7f5dac2cabd # v2.0.0
      with:
        apiToken: ${{ secrets.CF_API_TOKEN }}
        wranglerVersion: '1.13.0'
        workingDirectory: 'packages/pages-worker'
        command: build
