name: 'E2E'

on:
  schedule:
    - cron: '0 22 * * *'
  workflow_dispatch:

concurrency: 
  group: browserstack-test
jobs:
 e2e:
    name: 'E2E'
    runs-on: ubuntu-latest
    steps:
      - name: check out
        uses: actions/checkout@v3
        with:
          fetch-depth: 1

      - name: setup node
        uses: actions/setup-node@v3.5.0
        with:
          node-version: 17
          cache: 'npm'

      - name: 'BrowserStack Env Setup'
        uses: 'browserstack/github-actions/setup-env@master'
        with:
          username:  ${{ secrets.BROWSERSTACK_USERNAME }}
          access-key: ${{ secrets.BROWSERSTACK_ACCESS_KEY }}
          build-name: BUILD_INFO
          project-name: REPO_NAME

      - name: 'BrowserStack Local Setup'
        uses: 'browserstack/github-actions/setup-local@master'
        with:
          local-testing: start
          local-identifier: random

      - run: make run-tests-e2e

      - name: 'Stop BrowserStack Local'
        uses: 'browserstack/github-actions/setup-local@master'
        with:
          local-testing: 'stop'
