name: Pages
on:
  push:
    branches:
    - 'main'

jobs:

  pages:
    name: Pages
    runs-on: ubuntu-latest
    steps:

    - name: check out
      uses: actions/checkout@v3
      with:
        fetch-depth: 1

    - name: setup node
      uses: actions/setup-node@v3.2.0
      with:
        node-version: 18
        cache: 'npm'

    - run: make generate
    - run: make build-pages

    - run: |
        git fetch --depth=1 origin pages || true

    - name: create pages content
      run: |
        # Git config
        git config user.name github-actions
        git config user.email github-actions@github.com
        # Move contents to temp files
        cp -r packages/pages/dist/ $GITHUB_WORKSPACE/pages/
        # Checkout pages branches
        git checkout pages 2>/dev/null || git checkout -b pages
        git reset --hard origin/pages
        # Clean pages branch
        find . -name "node_modules" -type d -prune -exec rm -rf '{}' +
        git ls-files -z | xargs -0 rm -f || true
        git ls-tree --name-only -d -r -z HEAD | sort -rz | xargs -0 rmdir || true
        rm -rf ./packages
        # Copy contents
        cp -r $GITHUB_WORKSPACE/pages/ ./docs/
        rm -rf $GITHUB_WORKSPACE/pages/
        # Submit
        git add .
        git commit -m "update pages"
        git push --set-upstream origin pages

  deploy-pages-worker:
    name: Deploy Pages Worker
    runs-on: ubuntu-latest
    steps:
    - name: check out
      uses: actions/checkout@v3
      with:
        fetch-depth: 1

    - name: publish
      uses: cloudflare/wrangler-action@1.3.0
      with:
        apiToken: ${{ secrets.CF_API_TOKEN }}
        wranglerVersion: '1.13.0'
        workingDirectory: 'packages/pages-worker'
